body {
  font-size: 15pt;
  margin: 0px;
  padding: 0px;
}

.es-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  z-index: 1;
  overflow: hidden;
  --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
}

.es-wrapper *,
.es-wrapper *::before,
.es-wrapper *::after {
  box-sizing: border-box;
}

.es-slider {
  position: relative;
  height: 100%;
  display: flex;
  z-index: 2;
}

.es-wrapper.es-horizontal .es-slider {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

.es-wrapper.es-vertical .es-slider {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.es-wrapper.sliding .es-slider {
  transition: all var(--slideDuration) var(--slideEasing);
}

.es-slider:active {
  cursor: grabbing;
}

.es-slide {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  z-index: 3;
  pointer-events: none;
}
.es-slide img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.violet {
  background: violet;
}

.es-prev-slide,
.es-next-slide {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  cursor: pointer;
}

.es-prev-slide:before,
.es-next-slide:before {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  top: 4px;
  left: 4px;
  border: 2px solid #FFF;
  transform: rotate(-45deg);
}

.es-prev-slide:before {
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.es-next-slide:before {
  border-top-color: transparent;
  border-left-color: transparent;
}

.es-prev-slide:active::before,
.es-next-slide:active::before {
  transform: rotate(-45deg) scale(.75);
}

.es-prev-slide {
  left: 20px;
}

.es-next-slide {
  right: 20px;
}

.es-navigation-wrapper {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  gap: 10px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.es-navigation-item {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  cursor: pointer;
}

.es-navigation-item:hover {
  opacity: 0.75;
}

.es-navigation-item.current {
  opacity: 1;
  transform: scale(2);
  animation: navigationCurrent 500ms cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

@keyframes navigationCurrent {
  to {
    transform: scale(1);
  }
}